# build and cache
cache/
out/

# general
.env

# editors
.idea
.vscode

# well, looks strange to ignore package-lock, but we have only prettier and it's temproray
package-lock.json
node_modules
references

broadcast